.pagination {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 80px;
  font-size: 16px;

  button {
    padding: 4px 8px;
    background: var(--primary-color);
    cursor: pointer;
    color: var(--primary-grey);
    border: none;
    border-bottom: 1px solid transparent;

    &:hover:not(:first-child):not(:last-child) {
      border-bottom: 1px solid var(--primary-grey);
      color: var(--text-color);
      font-weight: bold;
      @media (max-width: 767px) {
        border-bottom: none;
      }
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

  }
}

.active {
  color: var(--text-color) !important;
  font-weight: bold;
  background-color: var(--secondary-color) !important;
}

svg {
  width: 18px;
  height: 18px;
  &:hover{
    background-color: var(--secondary-color);
    color: var(--text-color);
  }
}