:root {
  --primary-color: #ffffff;
  --secondary-color: #FCFCFC;
  --secondary-black: #1A1818;
  --primary-grey:#575757;
  --secondary-grey:#9C9C9C;
  --accent-color: #9B4B4B;
  --text-color: #121212;
}

.dark-theme {
  --primary-color: #121212;
  --secondary-color: #1A1818;
  --primary-grey: #DEDEDE;
  --secondary-grey:#9C9C9C;
  --accent-color:#AB8956;
  --text-color: #ffffff;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Inter';
  margin: 0;
  padding: 0;
}


