:root {
  --bg-color: #ffffff;
  --text-color: #121212;
  --card-bg: #ffffff;
  --secondary-color: #FCFCFC;
  --shade-color:#575757;
  --p-color: #9B4B4B;
}

.dark-theme {
  --bg-color: #121212;
  --text-color: #ffffff;
  --card-bg: #121212;
  --secondary-color: #1A1818;
  --shade-color:#DEDEDE;
  --p-color:#AB8956;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
p {
    color: var(--p-color);
}
